* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --deep-dark: rgb(26, 26, 26);
    --light-dark: rgb(79, 82, 92);
    --light-blue: rgb(0, 132, 255);
    --dark-blue: rgb(2, 84, 161);
    --light: rgb(245, 245, 245);
}

body {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(139, 112, 112);
}

h1 {
    color: var(--light);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.fas {
	pointer-events: none;
}

.todo {
    width: 800px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    text-align: center;
}

.header {
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.todo-input {
    width: 80%;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    color: var(--light-dark);
    background-color: var(--light);
}
.todo-input:focus{
    outline-color: orange;
}
.error-info {
    margin-top: 20px;
    color: var(--dark-blue);
}

.btn-add {
    font-weight: bolder;
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    color: var(--deep-dark);
    background-color: var(--light);
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.btn-add:hover {
    font-weight: bolder;
    color: #fff;
    background-color: rgb(0, 192, 154);
}

.todolist {
    padding: 20px 0;
}

.todolist h3 {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.todolist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding-left: 20px;
    text-align: left;
    list-style: none;
    background-color: var(--light);
}

.tools {
    display: inline-block;
}

.tools button {
    padding: 10px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s;
    font-size: 20px;
}

.tools button:hover {
    color: white;
    background-color: rgb(0, 192, 154);
}

.complete {
    color: var(--light-blue);
}

.edit {
    font-weight: bold;
}

.delete {
    color: red;
}

.completed {
    font-weight: bolder;
    color: red;
    text-decoration: line-through;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    width: 800px;
    color: var(--light);
    background-color: var(--light-dark);
    border-radius: 5px;
}

.popup h3 {
    padding: 20px;
}

.popup-info {
    color: var(--light);
    margin-bottom: 20px;
}

.popup-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
}

.popup-input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--light-dark);
    background-color: var(--light);
}

.popup-input:focus{
    outline-color: orange;
}
.popup-btn {
    width: 30%;
    display: inline-block;
    padding: 10px 22px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: var(--deep-dark);
    background-color: var(--light);
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.popup-btn:hover {
    color: #fff;
    background-color: var(--light-blue);
}


